<form action="<%= bands_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="band_name">Band Name</label>
    <input type="text" name="band[name]]" value="<%= band.name %>">
    <input type="submit" value="Create Band">
</form>
<%= link_to "Back to list of bands", bands_url %>